<ion-header>
  <ion-navbar>
    <ion-title>Hackers Quiz</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-fab center middle *ngIf="!play">
    <button ion-fab mini><ion-icon name="arrow-dropright-circle"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="startPlay(1)">1 min<ion-icon name=""></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <button ion-fab (click)="startPlay(2)">2 min<ion-icon name=""></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab (click)="startPlay(3)">3 min<ion-icon name=""></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="right">
      <button ion-fab (click)="startPlay(5)">5 min<ion-icon name=""></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <div *ngIf="play">
    <ion-grid>
      <ion-row>
        <ion-col width-80>
          <ion-card>
            <ion-card-content>
              Score: {{score}} | Timer: {{timer}}s left
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col width-20>
          <button ion-button icon-only outline (click)="stopPlay()" class="exit-btn" >
            <ion-icon name="log-out"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-content margin-vertical text-center>
        <h1 class="question">{{questionNumber1}}{{questionOperator.text}}{{questionNumber2}}
          <ion-icon [name]="myIcon" color="danger"></ion-icon>
        </h1>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-item *ngFor="let option of options" (click)="itemSelected(option)">
        {{option}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer color="default">
  <ion-toolbar>
    <ion-title>With <ion-icon name="heart" color="danger"></ion-icon> from CodeAstra</ion-title>
  </ion-toolbar>
</ion-footer>
